body {
  font-family: "Montserrat", sans-serif !important;
  margin: 0px;
}
.nunitoFamily {
  font-family: "Nunito Sans", sans-serif !important;
}
.montFamily {
  font-family: "Monteserrat", sans-serif !important;
}
.primaryColor {
  color: @primary;
}
.primaryBg {
  background-color: @primary;
}
.primaryLightColor {
  color: @primaryLight;
}
.primaryLightBg {
  background-color: @primaryLight;
}
.pinkColor {
  color: @pink;
}
.pinkBg {
  background-color: @pink;
}
.orangeColor {
  color: @orange;
}
.orangeBg {
  background-color: @orange;
}
.blueColor {
  color: @blue;
}
.blueBg {
  background-color: @blue;
}
.whiteColor {
  color: @white;
}
.greyColor {
  color: @textSecondary;
}
.primaryBtn {
  background-color: @primary;
  border-end-start-radius: 50%;
  color: white;
  padding: 1.5rem;
}
.bold {
  font-weight: bold !important;
}
.semiBold {
  font-weight: 600 !important;
}
.logoText {
  font-family: "Nunito Sans", sans-serif !important;
  font-weight: 800 !important;
}
.logoText-light {
  font-family: "Nunito Sans", sans-serif !important;
  font-weight: 800 !important;
  color: @lightTheme;
}
.colFlex {
  display: flex !important;
  flex-direction: column;
}
.rowFlex {
  display: flex !important;
  flex-direction: row;
}
.justifyCenter {
  justify-content: center;
}
.alignCenter {
  align-items: center;
}
.allCenter {
  justify-content: center;
  align-items: center;
}

//Shadows
@text-shadow-theme: 0px 0px 2px @lightTheme !important;
@text-shadow-primary: 0px 0px 2px @primary !important;

//OVERRIDEEN ANT STYLES
.ant-btn {
  box-shadow: 0px 17px 45px rgba(255, 130, 82, 0.15) !important;
  font-weight: 500 !important;
}
