@primary: #2ebaab;
@primaryLight: rgba(4, 175, 134, 0.24);
@secondary: #5ec9c0;
@layout-header-height: 40px;
@textPrimary: #222222;
@textSecondary: #b8b9bb;

@pink: #ef466f;
@orange: #ffa337;
@blue: #3772ff;
@white: #fff;

@lightTheme: #fefefe;
@darkTheme: #222222;

body {
  font-family: "Montserrat", sans-serif !important;
  margin: 0px;
}
.nunitoFamily {
  font-family: "Nunito Sans", sans-serif !important;
}
.montFamily {
  font-family: "Monteserrat", sans-serif !important;
}
.primaryColor {
  color: @primary;
}
.primaryBg {
  background-color: @primary;
}
.primaryLightColor {
  color: @primaryLight;
}
.primaryLightBg {
  background-color: @primaryLight;
}
.pinkColor {
  color: @pink;
}
.pinkBg {
  background-color: @pink;
}
.orangeColor {
  color: @orange;
}
.orangeBg {
  background-color: @orange;
}
.blueColor {
  color: @blue;
}
.blueBg {
  background-color: @blue;
}
.whiteColor {
  color: @white;
}
.greyColor {
  color: @textSecondary;
}
.primaryBtn {
  background-color: @primary;
  border-end-start-radius: 50%;
  color: white;
  padding: 1.5rem;
}
.bold {
  font-weight: bold !important;
}
.semiBold {
  font-weight: 600 !important;
}
.colFlex {
  display: flex !important;
  flex-direction: column;
}
.rowFlex {
  display: flex !important;
  flex-direction: row;
}
.allCenter {
  justify-content: center;
  align-items: center;
}
.featureText {
  margin-top: 1.5rem;
  font-size: 18px;
  text-align: center;
}
